:root {
  --menucolor: #4a4a4a;
  --textcolor: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.logo {
  width: 155px;
}
.navigation {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-content: space-between;
}
.footer {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

/*tablet-desktop*/
@media all and (min-width: 768px) {
}
