:root {
  --menucolor: #4a4a4a;
  --textcolor: #ffffff;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 155px;
  margin: 10px;
}
.navigation {
  margin-bottom: 13px;
}
.link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--menucolor);
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}
.footer {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #3cdbc0;
  height: 100vh;
}
.slogan {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--textcolor);
  text-transform: capitalize;
}

/*tablet-desktop*/
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-content: space-between;
  }
}
